@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-bg-padding span{
    background: #fff;
    /* padding: 3px; */
    box-sizing: content-box;
}

a > div > img {
    height: 300px;
    object-fit: cover;
}

.news-details-body img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}